# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
windows/flutter/generated_plugins.cmake
pubspec.lock
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/app/google-services.json
ios/firebase_app_id_file.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
macos/firebase_app_id_file.json
macos/Runner/GoogleService-Info.plist
coverage/lcov.info
coverage/html/amber.png
coverage/html/emerald.png
coverage/html/gcov.css
coverage/html/glass.png
coverage/html/index-sort-f.html
coverage/html/index-sort-l.html
coverage/html/index.html
coverage/html/ruby.png
coverage/html/snow.png
coverage/html/updown.png
coverage/html/lib/firebase_options.dart.func-sort-c.html
coverage/html/lib/firebase_options.dart.func.html
coverage/html/lib/firebase_options.dart.gcov.html
coverage/html/lib/index-sort-f.html
coverage/html/lib/index-sort-l.html
coverage/html/lib/index.html
coverage/html/lib/main.dart.func-sort-c.html
coverage/html/lib/main.dart.func.html
coverage/html/lib/main.dart.gcov.html
coverage/html/lib/features/home/view/home_view.dart.func-sort-c.html
coverage/html/lib/features/home/view/home_view.dart.func.html
coverage/html/lib/features/home/view/home_view.dart.gcov.html
coverage/html/lib/features/home/view/index-sort-f.html
coverage/html/lib/features/home/view/index-sort-l.html
coverage/html/lib/features/home/view/index.html
coverage/html/lib/models/authentication/authentication_bloc.dart.func-sort-c.html
coverage/html/lib/models/authentication/authentication_bloc.dart.func.html
coverage/html/lib/models/authentication/authentication_bloc.dart.gcov.html
coverage/html/lib/models/authentication/authentication_event.dart.func-sort-c.html
coverage/html/lib/models/authentication/authentication_event.dart.func.html
coverage/html/lib/models/authentication/authentication_event.dart.gcov.html
coverage/html/lib/models/authentication/authentication_state.dart.func-sort-c.html
coverage/html/lib/models/authentication/authentication_state.dart.func.html
coverage/html/lib/models/authentication/authentication_state.dart.gcov.html
coverage/html/lib/models/authentication/index-sort-f.html
coverage/html/lib/models/authentication/index-sort-l.html
coverage/html/lib/models/authentication/index.html
coverage/html/lib/singleton/hs_singleton.dart.func-sort-c.html
coverage/html/lib/singleton/hs_singleton.dart.func.html
coverage/html/lib/singleton/hs_singleton.dart.gcov.html
coverage/html/lib/singleton/index-sort-f.html
coverage/html/lib/singleton/index-sort-l.html
coverage/html/lib/singleton/index.html
coverage/html/lib/strings/index-sort-f.html
coverage/html/lib/strings/index-sort-l.html
coverage/html/lib/strings/index.html
coverage/html/lib/strings/l10n.dart.func-sort-c.html
coverage/html/lib/strings/l10n.dart.func.html
coverage/html/lib/strings/l10n.dart.gcov.html
coverage/html/lib/strings/intl/index-sort-f.html
coverage/html/lib/strings/intl/index-sort-l.html
coverage/html/lib/strings/intl/index.html
coverage/html/lib/strings/intl/messages_all.dart.func-sort-c.html
coverage/html/lib/strings/intl/messages_all.dart.func.html
coverage/html/lib/strings/intl/messages_all.dart.gcov.html
coverage/html/lib/strings/intl/messages_en.dart.func-sort-c.html
coverage/html/lib/strings/intl/messages_en.dart.func.html
coverage/html/lib/strings/intl/messages_en.dart.gcov.html
coverage/html/lib/theme/hs_theme.dart.func-sort-c.html
coverage/html/lib/theme/hs_theme.dart.func.html
coverage/html/lib/theme/hs_theme.dart.gcov.html
coverage/html/lib/theme/index-sort-f.html
coverage/html/lib/theme/index-sort-l.html
coverage/html/lib/theme/index.html
