# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request on all branches, except "main" branch
  push:
    branches: 
    - '**'
    - '!main'
  pull_request:
    branches: 
    - '**'
    - '!main'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  code_coverage_check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # use flutter-action to start running flutter commands
      - uses: subosito/flutter-action@v2.6.1
        with:
          flutter-version: '3.0.5'
          channel: 'stable'

      # Runs a set of commands using the runners shell
      - name: Run test with coverage
        run: flutter test --coverage
        
      # check code coverage using lcov
      - name: Report LCOV
        uses: zgosalvez/github-actions-report-lcov@v1.5.0
        with:
          coverage-files: coverage/lcov.info
          minimum-coverage: 70
          github-token: ${{ secrets.GITHUB_TOKEN }}
